@import 'normalize.css';

html, body, div, section {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    min-width: 900px;
}

h1, h2, h3 {
    font-weight: 300;
    text-align: center;
}

h1 {
    margin-top: 55px;
    font-size: 2.1em;
    margin-bottom: 15px;
    color: white;
}

h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}


/* SLIDER */

.nav-button {
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
}

.nav-button .icon {
    position: absolute;
    top: 58%;
    margin: 0 9px 0 9px;
    width: 22px;
    height: 42px;
}

.nav-button.prev-button {
    left: 0;
}

.nav-button.prev-button .icon {
    background: transparent url(./img/arrows.png) left bottom no-repeat;
}

.nav-button.prev-button.light .icon {
    background-position: left top;
}

.nav-button.next-button {
    right: 0;
}

.nav-button.next-button .icon {
    background: transparent url(./img/arrows.png) right bottom no-repeat;
}

.nav-button.next-button.light .icon {
    background-position: right top;
}


/* HEADER */

header {
    height: 23px;
    padding: 20px 0;
    overflow: hidden;
}

header .logo {
    float: left;
    height: 23px;
}

header .links {
    float: right;
    height: 23px;
}

header .links .social {
    display: inline-block;
    margin-right: 10px;
    height: 23px;
    width: 23px;
    background: transparent;
}

header .links .social:hover {
    background-position-y: bottom !important;
}

header .links .social.fb {
    background: transparent url(./img/logo_fb_vk_tw_menu.png) left top no-repeat;
}

header .links .social.vk {
    background: transparent url(./img/logo_fb_vk_tw_menu.png) center top no-repeat;
}

header .links .social.tw {
    background: transparent url(./img/logo_fb_vk_tw_menu.png) right top no-repeat;
}

.red.button {
    float: right;
    margin-left: 16px;
    padding: 5px 12px 5px 14px;
    background-color: #EE2D31;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 13px;
    line-height: 13px;
    height: 13px;
    transition: background-color 0.3s ease;
}

.red.button:hover {
    background-color: #F47933;
}

/* PAGE BREAK */

.page-break {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1000;
}

.page-break .container {
    overflow: hidden;
    height: 23px;
    padding: 8px 0;
}

.page-break .container .small.logo {
    width: 23px;
    height: 23px;
    background: transparent url(./img/logo_wallet_small_menu.png) center top no-repeat;
    float: left;
}

.page-break .container .small.logo:hover {
    background-position-y: bottom;
}

.page-break .container .red.button {
    float: right;
}


/* LINE 1 */

#line-1 {}

#line-1 .container {
    position: relative;
    padding-top: 10px;
    height: 742px;
}

#line-1.bus {
    background: #5CBCEB url(./img/page_1/bus.png) center bottom no-repeat;
}

#line-1.metro {
    background: #FCBA4C url(./img/page_1/metro.png) center bottom no-repeat;
}

#line-1.tram {
    background: #ACE1FA url(./img/page_1/tram.png) center bottom no-repeat;
}

#line-1.trolleybus {
    background: #4E3953 url(./img/page_1/trolleybus.png) center bottom no-repeat;
}

#line-1.trolleybus .nav-button .icon {
    background-position-y: top;
}

#line-1 h1 {
    text-align: center;
}


/* LINE 2 */

#line-2 {
    height: 760px;
    padding: 10px 0;
}

#line-2.cat {
    background: #81BC5C url(./img/page_2/hand_cat.png) center bottom no-repeat;
}

#line-2.fb {
    background: #81BC5C url(./img/page_2/hand_fb.png) center bottom no-repeat;
}

#line-2.chat {
    background: #81BC5C url(./img/page_2/hand_wtsp.png) center bottom no-repeat;
}

#line-2 h3 {
    color: #44632f;
}


/* LINE 3 */

#line-3 {
}

#line-3 .container {
    position: relative;
    height: 760px;
    padding: 10px 0;
}

#line-3 h3 {
    color: #FDBB4C;
}

#line-3.term-1 {
    background: #4E3953 url(./img/page_3/hand_terminal_1.png) 55% bottom no-repeat;
}

#line-3.term-2 {
    background: #4E3953 url(./img/page_3/hand_terminal_2.png) 55% bottom no-repeat;
}

#line-3.term-3 {
    background: #4E3953 url(./img/page_3/hand_terminal_3.png) 56.5% bottom no-repeat;
}


/* LINE 4 */

#line-4 {
    height: 760px;
    padding: 10px 0;
}

#line-4.step-1 {
    background: #F28669 url(./img/page_4/hand_wallet_1.png) 55% bottom no-repeat;
}

#line-4.step-2 {
    background: #F28669 url(./img/page_4/hand_wallet_2.png) 55% bottom no-repeat;
}

#line-4.step-3 {
    background: #F28669 url(./img/page_4/hand_wallet_3.png) 55% bottom no-repeat;
}

#line-4 h3 {
    color: #4E3953;
}


/* LINE 5 */

#line-5 {}

#line-5 .bg {
    height: 760px;
    padding: 10px 0;
}

#line-5.day {
    background: #5CBCEB url(./img/page_5/green_day.png) center bottom repeat-x;
}

#line-5.day .bg {
    background: transparent url(./img/page_5/hand_city_1.png) center bottom no-repeat;
}

#line-5.night {
    background: #4E3953 url(./img/page_5/green_night.png) center bottom repeat-x;
}

#line-5.night .bg {
    background: transparent url(./img/page_5/hand_city_2.png) center bottom no-repeat;
}


/* LINE 6 */

#line-6 {
    height: 710px;
    padding: 10px 0;
    background-color: #FCBA4C;
}

#line-6 .container {
    height: 710px;
}

#line-6.step-1 .container {
    background: #FCBA4C url(./img/page_6/hand_1.png) 600px bottom no-repeat;
}

#line-6.step-1 tr.step-2 h3,
#line-6.step-1 tr.step-3 h3 {
    color: #F6D6AA;
}

#line-6.step-1 tr.step-2 img,
#line-6.step-1 tr.step-3 img {
    opacity: 0;
}

#line-6.step-2 .container {
    background: #FCBA4C url(./img/page_6/hand_2.png) 600px bottom no-repeat;
}

#line-6.step-2 tr.step-3 h3 {
    color: #F6D6AA;
}

#line-6.step-2 tr.step-3 img {
    opacity: 0;
}

#line-6.step-3 .container {
    background: #FCBA4C url(./img/page_6/hand_3.png) 600px bottom no-repeat;
}

#line-6 table {
    margin: 110px 0 0 125px;
}

#line-6 table td {
    vertical-align: top;
    padding-bottom: 30px;
}

#line-6 table td img {
    margin: 9px 15px 0 0;
    transition: all 1s ease;
}

#line-6 table td h3 {
    margin: 0;
    text-align: left;
    color: #4E3953;
    transition: all 1s ease;
}


/* FOOTER */

footer {
    height: 271px;
    padding-top: 70px;
    background: #ECEBE4 url(./img/page_contact/cloud.png) 44% center no-repeat;
}

footer table.contacts a {
    color: inherit;
    text-decoration: none;
}

footer table.contacts a:hover {
    text-decoration: underline;
}

footer table.contacts td {
    vertical-align: top;
}

footer table.contacts .img {
    width: 35px;
    padding-top: 4px;
}

footer table.contacts .desc {
    width: 500px;
    padding-bottom: 22px;
}

footer table.contacts .watch-for-us {
    font-style: italic;
    color: #7198B8;
}

footer table.contacts .links ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
}

footer table.contacts .links ul li {
    float: left;
    width: 31px;
    height: 31px;
    margin-right: 20px;
}

footer table.contacts .links ul a.social {
    display: inline-block;
    width: 31px;
    height: 31px;
}

footer table.contacts .links ul a.social.vk {
    background: transparent url(./img/page_contact/logo_fb_vk_tw.png) center top no-repeat;
}

footer table.contacts .links ul a.social.fb {
    background: transparent url(./img/page_contact/logo_fb_vk_tw.png) left top no-repeat;
}

footer table.contacts .links ul a.social.tw {
    background: transparent url(./img/page_contact/logo_fb_vk_tw.png) right top no-repeat;
}

footer table.contacts .links ul a.social:hover {
    background-position-y: bottom;
}

